h1 {
  color: rgb(93, 92, 92);
}

.flex-container-home {
  display: flex;
  height: 200px;
  margin-right: 20%;
  margin-left: 20%;
  background: linear-gradient(45deg, #112026, #150123a4, #000000, #6f6f6f);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  border-radius: 5%;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.flex-container-child {
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

p {
  color: white;
}
