.picture-container {
  height: 400px;
  width: 600px;
  margin: 20px;
}

.nasa-picture {
  height: 400px;
  width: 600px;
  transition: transform 1.5s;
  filter: drop-shadow(0 0 0.75rem rgb(50, 50, 50));
  margin-bottom: 1.25%;
}
