.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

button {
  background-color: #7b7b7b;
  border: none;
  transition: transform 1s;
  filter: drop-shadow(0 0 0.75rem rgb(45, 24, 67));
}

button:hover {
  background-color: rgb(45, 24, 67);
  cursor: pointer;
}

.text {
  color: white;
}

.nasa-description {
  color: white;
  overflow: hidden;
}

.description {
  padding-left: 20%;
  padding-right: 20%;
}

.nasa-title {
  padding-top: 20px;
}
