.nasa-picture {
  height: 400px;
  width: 600px;
  transition: transform 1.5s;
  filter: drop-shadow(0 0 0.75rem rgb(45, 24, 67));
}

.text {
  color: white;
}

.title-container {
  color: white;
}

.nasa-description {
  color: white;
}

.description {
  padding-left: 20%;
  padding-right: 20%;
}
