.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.picture-container {
  height: 400px;
  width: 600px;
  margin: 20px;
}

.date-input {
  background-color: #7b7b7b;
  border: none;
  width: 300px;
}
button {
  background-color: #7b7b7b;
  border: none;
  transition: transform 1s;
  filter: drop-shadow(0 0 0.75rem rgb(45, 24, 67));
}

button:hover {
  background-color: rgb(45, 24, 67);
  cursor: pointer;
}

.nasa-picture {
  height: 400px;
  width: 600px;
  transition: transform 1.5s;
  filter: drop-shadow(0 0 0.75rem rgb(45, 24, 67));
}

.text {
  color: white;
}
